<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            color: darkblue;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace, sans-serif; }


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body text="white">
<form method="post" action="/education/" enctype="multipart/form-data" >
    {% csrf_token %}
    <fieldset>
        <legend style="padding: 20px;font-size: 30px;color: black">Education Details</legend>
        <pre><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Name<span style="color: red">*</span></span>:  <input type="text"  name="High" placeholder="High School Name" required pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{qs.tenth_schoolname }}">    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Board<span style="color: red">*</span></span>:  <input type="text" name="Hboard" placeholder="Hi School Board" pattern="[a-zA-Z,\s]+" required title="Please Enter only Characters" value="{{ qs.tenth_schoolboard }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Percentage<span style="color: red">*</span></span>:  <input type="text" name="Spercentage" placeholder="High School Percentage" pattern="[0-9,.]+" title="Please enter two or three digit only Numeric" required value="{{ qs.tenth_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">10th certificate<span style="color: red">*</span></span>:<input type="file" name="high1" value=" {{ qs.tenth_cerificate.url}}" placeholder="Upload 10th Certificate" required >

</fieldset><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter College Name<span style="color: red">*</span></span>: <input type="text" name="Inter" placeholder="Inter College Name"  required pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.inter_collegename }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter Board<span style="color: red">*</span></span>: <input type="text"name="Board1" placeholder="Inter Board" required pattern="[a-zA-Z,\s]+"  title="Please Enter only Characters"value="{{ qs.inter_board }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter Percentage<span style="color: red">*</span></span>: <input type="text" name="Ipercentage" placeholder="Inter Percentage" required pattern="[0-9,.]+" title="Please enter two or three digit only Numeric" value="{{ qs.inter_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter certificate<span style="color: red">*</span></span>: <input type="file" required name="inter1" value=" {{ qs.inter_cerificate.url}}" placeholder="Upload Inter Certificate" >
</fieldset><fieldset>

            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation College Name<span style="color: red">*</span></span>: <input type="text" required name="Graduation" placeholder="Graduation College Name" pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.graduation_collegename }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation Board<span style="color: red">*</span></span>: <input type="text" name="Gboard" placeholder="Graduation Board"  pattern="[a-zA-Z,\s]+" required title="Please Enter only Characters" value="{{ qs.graduation_board}}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation Percentage<span style="color: red">*</span></span>: <input type="text" name="Gpercentage" placeholder="Graduation Percentage "  required pattern="[0-9,.]+" title="Please enter two or three digit only Numeric" value="{{ qs.graduation_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px"> Graduation Certificate<span style="color: red">*</span></span>: <input type="file" name="Graduation1" required value=" {{ qs.graduation_cerificate.url}}" placeholder="Upload Graduation Certificate" >

</fieldset><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation College Name</span>: <input type="text" name="PGraduation" placeholder="post Graduation College Name" pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.pg_collegename}}" >   <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px"> Post Graduation Board</span>: <input type="text" name="PGboard" placeholder="post Graduation Board" pattern="[a-zA-Z,\s]+" title="Please Enter only Characters" value="{{ qs.pg_collegeboard }}" >   <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation Percentage</span>: <input type="text" name="P" placeholder="Post Graduation Percentage " pattern="[0-9,.]+" title="Please enter two or three digit only Numeric" value="{{ qs.pg_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation Certificate</span>:<input type="file" name="PGraduation1" value="{{ qs.pg_cerificate.url }}"placeholder="Upload PG Gration Certificate" >
</fieldset>
    </fieldset>
    <center><button type="submit">Save</button></center>

</form>
</body>
</html>