<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            color: black;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;}


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body text="white">
<form method="post"  enctype="multipart/form-data" >
    {% csrf_token %}
    <fieldset>
        <legend style="padding: 20px;font-size: 30px;">Education Details</legend>
        <pre><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Name</span>:  <input readonly onclick="fun()" type="text" name="High" placeholder="High School Name"  required pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{qs.tenth_schoolname }}">    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Board</span>:  <input readonly type="text" name="Hboard" placeholder="Hi School Board" pattern="[a-zA-Z]+[ ][a-zA-Z]+{1,7}" onclick="fun()" required title="Please Enter only Characters" value="{{ qs.tenth_schoolboard }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">High School Percentage</span>:  <input readonly type="text" name="Spercentage" placeholder="High School Percentage" pattern="[0-9]{1,3}" title="Please enter two or three digit only Numeric" required onclick="fun()" value="{{ qs.tenth_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">10th certificate</span>:<a href="http://127.0.0.1:8000{{ qs.tenth_cerificate.url }}"><img src="{{ qs.tenth_cerificate.url}}" width="80px" height="80px" ></a>

</fieldset><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter College Name</span>: <input readonly type="text" name="Inter" placeholder="Inter College Name" onclick="fun()" required pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.inter_collegename }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter Board</span>: <input readonly type="text"name="Board1" placeholder="Inter Board" onclick="fun()" required pattern="[a-zA-Z]+[ ][a-zA-Z]+{1,7}"  title="Please Enter only Characters"value="{{ qs.inter_board }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter Percentage</span>: <input type="text" readonly name="Ipercentage" placeholder="Inter Percentage" onclick="fun()" required pattern="[0-9]{1,3}" title="Please enter two or three digit only Numeric" value="{{ qs.inter_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Inter certificate</span>: <a href="http://127.0.0.1:8000{{ qs.inter_cerificate.url }}"><img src="{{ qs.inter_cerificate.url }}" width="80px" height="80px" ></a>
</fieldset><fieldset>

            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation College Name</span>: <input readonly type="text" onclick="fun()" required name="Graduation" placeholder="Graduation College Name" pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.graduation_collegename }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation Board</span>: <input readonly type="text" name="Gboard" placeholder="Graduation Board"  pattern="[a-zA-Z]+[ ][a-zA-Z]+{1,7}" onclick="fun()" required title="Please Enter only Characters" value="{{ qs.graduation_board}}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Graduation Percentage</span>: <input readonly type="text" name="Gpercentage" placeholder="Graduation Percentage " onclick="fun()" required pattern="[0-9]{1,3}" title="Please enter two or three digit only Numeric" value="{{ qs.graduation_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px"> Graduation Certificate</span>: <a href="http://127.0.0.1:8000{{ qs.graduation_cerificate.url }}"><img src="{{ qs.graduation_cerificate.url }}" width="80px" height="80px" ></a>
        </fieldset><fieldset>
            <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation College Name</span>: <input readonly type="text" onclick="fun()" required name="PGraduation" placeholder="Graduation College Name" pattern="[a-zA-Z0-9,\s]+" title="Please Enter only Characters" value="{{ qs.postgraduation_collegename }}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation Board</span>: <input readonly type="text" name="PGboard" placeholder="Graduation Board"  pattern="[a-zA-Z\s.]+" onclick="fun()" required title="Please Enter only Characters" value="{{ qs.postgraduation_board}}" >    <span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px">Post Graduation Percentage</span>: <input readonly type="text" name="PGpercentage" placeholder="Graduation Percentage " onclick="fun()" required pattern="[0-9]{1,3}" title="Please enter two or three digit only Numeric" value="{{ qs.postgraduation_percentage }}" >


<span style="font-family: 'Apple Braille';color: royalblue;font-size: 20px"> Post Graduation Certificate</span>: {% if qs.is_post_graduationcertificate_uploaded %}<a href="http://127.0.0.1:8000{{ qs.postgraduation_cerificate.url }}"><img src="{{ qs.postgraduation_cerificate.url }}" width="80px" height="80px" ></a>{% else %} <input readonly onclick="fun()" type="text" name="PGraduation1"   placeholder="No file uploade">{% endif %}
</fieldset>
 <center><button type="submit"><a href="/editeducation/">Edit</a></button></center>

    </fieldset>

</form>
<script>
    function fun()
    {
        alert("please click on edit button below")
    }
</script>
</body>
</html>